<div class="contact-content">
    <mat-card>
        <h1>Contact</h1>
        <mat-card-content>
            <ul>
                <li>
                    <mat-icon class="jss-mr-sm-05">location_on</mat-icon>
                    Visegradska 14, 11000 Beograd, Srbija
                </li>
                <li>
                    <mat-icon class="jss-mr-sm-05">call</mat-icon>
                    (+381) 11 457-2308
                </li>
                <li>
                    <mat-icon class="jss-mr-sm-05">mail_outline</mat-icon>
                    janasoft.support@gmail.com
                </li>
                <li>
                    <mat-icon class="jss-mr-sm-05">access_time</mat-icon>
                    Mon-Sun / 9:00AM - 8:00PM
                </li>
            </ul>
        </mat-card-content>
        <a mat-raised-button href="https://goo.gl/maps/248tRMTqHoiv5B5x8" target="_blank" color="primary">
            <mat-icon>directions</mat-icon>
            Get directions
        </a>
    </mat-card>
</div>
