<div class="products-container">
    <div class="products-row">
        <mat-card *ngFor="let product of products">
            <a [routerLink]="['/products', product.id]">
                <div class="product-image-container">
                    <img mat-card-image src="{{ product && product.imageUrls.length > 0 ? product.imageUrls[0] : noImageUrl }}">
                </div>
                
                <mat-card-content>
                    <p>{{ product.name }}</p>
                    <p>Code: {{ product.code }}</p>
                    <p>{{ product.price }} RSD</p>
                </mat-card-content>
            </a>
            <mat-card-actions>
                <button mat-button (click)="addToCart(product)">
                    <mat-icon>shopping_cart</mat-icon>
                </button>
            </mat-card-actions>
        </mat-card>
    </div>


    <mat-paginator [length]="products.length"
            [pageSize]="10"
            [pageSizeOptions]="[5, 10, 25, 100]">
    </mat-paginator>
</div>
