.products-container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;

    .products-row {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .mat-card {
        flex: 0 0 100%;
        max-width: 100%;
        padding-left: 15px;
        padding-right: 15px;
        margin-bottom: 1rem;
        padding: 0;

        @media (min-width: 576px) {
            flex: 0 0 75%;
            max-width: 75%;
        }

        @media (min-width: 768px) {
            flex: 0 0 50%;
            max-width: 50%;
        }

        @media (min-width: 992px) {
            flex: 0 0 33.33333%;
            max-width: 33.33333%;
        }

        @media (min-width: 1200px) {
            flex: 0 0 23%;
            max-width: 23%;
        }

        a {
            text-decoration: none;
            color: initial;
        }
        

        .product-image-container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 350px;
            padding: 1rem;

            img {
                display: block;
                max-width: 100%;
                height: auto;
                margin: 0;
            }
        }
        

        .mat-card-content {
            p {
                padding: .5rem .75rem;

                &:first-child {
                    text-align: center;
                }
            }
        }

        .mat-card-actions {
            display: flex;
            justify-content: center;
            padding: 1rem 0;
        }
    }
}