<app-navigation (toggleSidenav)="sidenavDrawer.toggle()" [elementRef]="sidenavDrawer"></app-navigation>

<mat-drawer-container class="main-content">
    <mat-drawer #sidenavDrawer mode="side" class="sidenav-drawer">
        <ul class="sidenav-menu-container">
            <li class="sidenav-menu-item">
                <a  class="sidenav-menu-link"
                    [routerLink]="['/products']">
                    <mat-icon>list</mat-icon>
                    Products
                </a>
            </li>
            <li class="sidenav-menu-item">
                <a class="sidenav-menu-link"
                    [routerLink]="['/about']">
                    <mat-icon>domain</mat-icon>
                    About
                </a>
            </li>
            <li class="sidenav-menu-item">
                <a class="sidenav-menu-link"
                    [routerLink]="['/contact']">
                    <mat-icon>perm_phone_msg</mat-icon>
                    Contact
                </a>
            </li>
        </ul>
    </mat-drawer>
    <mat-drawer-content>
        <app-home></app-home>
    </mat-drawer-content>
</mat-drawer-container>