<mat-card>
    <mat-card-header>
        <mat-card-title>{{ product.name }}</mat-card-title>
    </mat-card-header>
    
    <mat-divider></mat-divider>

    <mat-card-content>
        <p>Price: {{ product.price | currency: 'RSD':'symbol':'3.2-2' }}</p>
        <p>Code: {{ product.code }}</p>
        <p>Created at: {{ product.createdAt | date: 'dd.MM.yyyy' }}</p>

        <div *ngIf="product.imageUrls.length > 0; else noImageBlock" class="product-image-container">
            <img *ngFor="let image of product.imageUrls" src="{{ image }}" class="product-image">
        </div>
        
        <ng-template #noImageBlock>
            <div class="product-image-container">
                <img src="../../../../assets/images/no_image.jpg" class="product-image">
            </div>
        </ng-template>
        
    </mat-card-content>

    <mat-card-actions>
        <button mat-raised-button color="primary" (click)="addToCart(product)">
            <mat-icon>shopping_cart</mat-icon>
            Add to cart
        </button>
    </mat-card-actions>
</mat-card>