<mat-toolbar color="primary">

    <mat-icon
        class="sidenav-toggle"
        [ngClass]="{ 'sidenav-open' : elementRef.opened }"
        (click)="toggleSidenav.emit()"
        aria-hidden="false"
        aria-label="toggle sidenav">
        vertical_split
    </mat-icon>

    <a class="cta-link">
        <mat-icon 
            aria-hidden="false"
            aria-label="home icon">home</mat-icon>
        Home
    </a>

    <!-- This fills the remaining space of the current row -->
    <span class="fill-space"></span>

    <ul class="navigation-menu-container">
        <li class="navigation-menu-item">
            <a class="navigation-menu-link">Shopping cart</a>
        </li>
        <li class="navigation-menu-item">
            <a class="navigation-menu-link">Login</a>
        </li>
    </ul>
</mat-toolbar>