@import "variables";

.sidenav-toggle {
    cursor: pointer;
    outline: none;
    border: none;
    margin-right: 1rem;
    transition-duration: 400ms;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);

    &.sidenav-open {
        width: $sidenavWidth;
    }
}

.cta-link {
    display: flex;
    align-items: center;
    font-size: .75rem;
    text-decoration: none;
    color: white;
}

.mat-toolbar-row, .mat-toolbar-single-row {
    height: $navigationHeight;
}

.fill-space {
    flex: 1 1 auto;
}

.navigation-menu-container {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;

    .navigation-menu-item {
        padding: .5rem .75rem;

        .navigation-menu-link {
            cursor: pointer;
            display: flex;
            align-items: center;
            font-size: .75rem;
        }
    }
}