<mat-toolbar color="primary">

    <mat-icon
        class="sidenav-toggle"
        [ngClass]="{ 'sidenav-open' : elementRef.opened }"
        (click)="toggleSidenav.emit()"
        matTooltip="Toggle sidenav menu"
        aria-hidden="false"
        aria-label="toggle sidenav">
        vertical_split
    </mat-icon>

    <a class="cta-link"
        [routerLink]="['/home']">
        <mat-icon
            class="jss-mr-sm-05"
            aria-hidden="false"
            aria-label="home icon">home</mat-icon>
        Home
    </a>

    <!-- This fills the remaining space of the current row -->
    <span class="fill-space"></span>

    <ul class="navigation-menu-container">
        <li class="navigation-menu-item">
            <a class="navigation-menu-link">
                <mat-icon matBadge="{{ numberOfItemsInCart }}" matBadgePosition="above before" matBadgeColor="accent">shopping_cart</mat-icon>
                0.00 RSD
            </a>
        </li>
        <li class="navigation-menu-item">
            <a class="navigation-menu-link" [routerLink]="['/login']">
                <mat-icon class="jss-mr-sm-05">login</mat-icon>
                Login
            </a>
        </li>
    </ul>
</mat-toolbar>